{% extends "base.html" %}

{% block content %}
<page size="a4" class="drop-shadow" style="background-image: url(../static/images/cv-background.svg); background-position: bottom;">
    <!-- Header -->
    <div id="header" class="w-100" height="100" style="background-color: #4433df; color: white;">
        <div class="display-6 text-center fs-3 pt-3">Jack Joshua Smith</div>
        <div class="display-6 text-center fs-5 pb-3">Programmer & Software Developer</div>
    </div>
    <!-- Profile & contact info -->
    <div class="row m-5">
        <div class="col-7" id="profile">
            <div class="lead fw-bold">Profile</div>
            <div class="mt-2 fs-6">
                I'm a motivated programmer with experience in developing an app from start to finish and a hunger to work on new and exciting projects while continuing to refine
                and expand my skillset. I bring a holistic awareness of app development, an attentive approach to detail and a can-do attitude. I'm looking to ply my trade 
                with a group of motivated people where I can perform my natural role as a key contributor.
            </div>
        </div>
        <div class="col-5" id="contact-details">
            <div class="lead fw-bold text-end">Contact Details</div>
            <div class="lead text-end my-2 fs-6">jackjoshuasmith@outlook.com</div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-9">
            <div class="lead fw-bold">Employment History</div>
            <div class="fs-6 fw-bold mt-2">Software Developer @ carbonGyroscope - June '21 - April '22</div>
            <ul>
                <li>Writing the core functions (data processing)</li>
                <li>Designing and building a user & transaction database with interdependent tables</li>
                <li>Designing and making a website</li>
                <li>Creating a user login system for the site and for Starling Bank using OAuth2.0</li>
                <li>Pulling and cleaning data ready for processing</li>
                <li>Setting up a no card payment system using the previously acquired access token and a message signed using ECDSA</li>
                <li>Designing and creating a user feedback system using tags and noSQL</li>
                <li>Using Docker and Docker-Compose to trial deploy the app on Azure</li>
            </ul>
            <div class="fs-6 fw-bold mt-2">Admin Officer @ Cardiff Council - August '17 - May '21</div>
            <ul>
                <li>Starting at Grade 4, I secured a Grade 5 position after 8 months</li>
                <li>Completing a number of monthly reports</li>
                <li>Supporting other members of the team</li>
                <li>Liaising with various departments and housing organisations</li>
                <li>Helping service users to understand law and policy in writing and on the phone</li>
            </ul>
        </div>
        <div class="col-3 text-end">
            <div class="lead fw-bold">Skills</div>
            <div class="list-group list-group-flush">
                <div class="list-group-item pe-0" style="background-color: transparent;">Python</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">Flask</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">OAuth2.0</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">RSA & ECDSA implementation</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">HTML & CSS</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">SQL (Postgres)</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">noSQL (MongoDB)</div>
                <div class="list-group-item pe-0" style="background-color: transparent;">Docker</div>
            </div>
            <img src="../static/images/websiteQR.svg" height="200" style="position: relative; right: 20px;">
        </div>
        <div class="fw-light">References: Available on request</div>
        <div class="col fw-light text-center"></div>
    </div>
</page>
{% endblock %}