{% extends "base.html" %}

{% block content %}
<!-- Profile header -->
<section id="profile" class="container-fluid px-0" style="background-image: url(../static/images/cardiffbay.svg); background-size: cover; background-position: center; height: fit-content;">
    <div class="container" style="padding-top: 100px; padding-bottom: 100px;">
        <div class="card mx-auto" style="max-width: 600px; box-shadow: 0 20px 50px 0 rgb(0 0 0 / 90%);">
            <div id="profile-pic" class="mt-5">
                <img src="../static/images/headshot.jpg" class="rounded mx-auto d-block" alt="profile-pic" style="height: 200px;">
            </div>
            <div class="display-5 fs-3 text-center mt-3">Jack Joshua Smith</div>
            <div id="text" class="text-center mt-4 mb-5 mx-auto px-4">
                <p class="lead">
                    Hi! My name's Jack, I'm {{ age }} and a coder based in Cardiff. In my spare time I like gaming, producing music, reading and running.
                </p>
                <p class="lead">
                    On Wednesdays I go to a boxing class after work before heading out for a pub quiz in the evening. Once the work week is over <i>if</i> I'm not still at my computer I can often be found in a park,
                    a beer garden or at a gig.
                </p>
                <a href="https://github.com/JackieBoyBlue?tab=repositories" target="_blank"><img alt="github" src="../static/images/github.png" style="height: 40px; width: 40px; margin: 5px;"></a>
                <a href="https://www.linkedin.com/in/jack-smith-wales/" target="_blank"><img alt="linkedin" src="../static/images/linkedin.png" style="height: 40px; width: 40px; margin: 5px;"></a>
            </div>
        </div>
    </div>
</section>
<!-- What brought me to coding -->
<section id="previous-experience" class="container mt-2 pt-2">
    <div id="text" class="text-center mt-4 mb-5 mx-auto">
        <div class="display-6 pb-4 fs-3">What brought me to coding</div>
        <p class="lead">
            I weighed up how I'd like to work, which is in a skill based position where I'm able to continuously develop and am likely to be rewarded for it. I considered what I find engaging; I've spent my life on
            computers dipping into professional software like Photoshop and Illustrator, thoroughly learning music production programs starting with Fruity Loops before continuing with Ableton Live for the past 7 years,
            and occasionally dabbling in the video editing software Adobe Premiere primarily for my media studies A-level and then more recently making videos for friends and family birthdays. Two work related benefits
            I've taken from these hobbies are a familiarity with how professional software tends to function at the user experience level and a knack for independent learning, troubleshooting and problem solving. I also 
            wanted to be sure my chosen career would be somewhat future-proof as I am going to dedicate my future to developing this skill set. 
        </p>
        <div class="collapse" id="expandMyStory">
            <p class="lead">
                My first instinct was to study for a qualification alongside my job, but then I spoke to a contact with a background in the industry. A few weeks later he got in touch and asked me to work for him developing
                an app. Of course I jumped at the opporunity.
            </p>
            <p class="lead">
                The upsides have been tremendous; I was able to dedicate all of my working hours to developing an app single-handedly from start to finish, which has allowed me to test and play and develop my 
                skills independently. I've worked through every problem to its solution and understand how each component fits into the app as a whole.
            </p>
            <p><a href="/work" class="lead fs-6 text-reset text-decoration-none">Click here to find out more about the project.</a></p>
        </div>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#expandMyStory" aria-expanded="false" aria-controls="expandMyStory" onclick="style.display = 'none'">Continue reading</button>
    </div>
</section>
<!-- My current PC build -->
<section id="my-pc" class="container my-5">
    <div class="display-6 text-center fs-3">My current PC build</div>
    <ul class="list-group mx-auto mt-3 drop-shadow" style="max-width: 600px; background-color: transparent;">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">CPU</div>
            <div class="me-2 ms-auto">AMD Ryzen 7 3700x</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">Motherboard</div>
            <div class="me-2 ms-auto">MPG x570 Gaming Plus</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">Memory</div>
            <div class="me-2 ms-auto">Corsair Vengeance LPX DDR4 3000mhz</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">GPU</div>
            <div class="me-2 ms-auto">Gigabyte RTX 2070 Windforce 2x</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">Boot drive</div>
            <div class="me-2 ms-auto">ADATA SX8200PNP 1TB</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">Storage drive</div>
            <div class="me-2 ms-auto">Samsung 870 QVO 1TB</div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">Case</div>
            <div class="me-2 ms-auto">Corsair 4000D AF TGI MT Black</div>
        </li>
    </ul>
    <div class="center-text w-100">
        <div class="text-center fw-bold mt-3" style="font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;"><a href="https://www.userbenchmark.com/UserRun/51913413" class="text-reset text-decoration-none" target="_blank">UserBenchmark</a></div>
    </div>
</section>
<!-- Spotify -->
<section id="spotify" class="container-flex py-2" style="background-image: url(../static/images/spotify-background.svg); background-size: cover; background-position: center; height: fit-content;">
    <div class="container my-3">
        <div class="text-center">
            <img src="../static/images/spotify-logo.svg" class="img-fluid" alt="spotify-logo" style="width: 60px; max-width: 10vw;">
        </div>
        <iframe class="mt-3" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/71PkQ2p6NFAOs1dETsPZU7?utm_source=generator&theme=0" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        <a href="https://open.spotify.com/user/dew5t056vvvfsvcqg1pnxjnq6?si=37c49b27d13e4651" class="text-center text-white text-decoration-none" target="_blank"><p>Full profile</p></a>
    </div>
</section>
<!-- Codewars -->
<section id="codewars" class="container-flex py-2" style="background-color: #303133; height: fit-content;">
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-lg-4 text-center">
                <img src="../static/images/codewars.png" class="img-fluid" alt="codewars-logo" style="max-height: 211px;">
            </div>
            <div class="col-12 col-lg-8">
                <img src="https://www.codewars.com/users/JackieBoyBlue/badges/large" class="my-3 mx-5 d-none d-sm-block" alt="codewars-rank-lg">
                <img src="https://www.codewars.com/users/JackieBoyBlue/badges/small" class="my-3 mx-5 d-sm-none" alt="codewars-rank-sm">
                <ul class="list-group-flush list-light">
                    {% for kata in katas %}
                    <li class="list-group-item d-flex justify-content-between align-items-start" style="background-color: transparent; color: white; border-color: rgba(255, 255, 255, 0.171);">
                        <div class="ms-2 me-auto">{{ kata[0] }}</div>
                        <div class="me-2 ms-auto">{{ kata[1] }}</div>
                    </li>
                    {% endfor %}
                </ul>
                <a href="https://www.codewars.com/users/JackieBoyBlue/completed" class="text-center text-secondary text-decoration-none" target="_blank"><p>View on codewars</p></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}