{% extends "base.html" %}

{% block content %}
<section id="previous-experience" class="container" style="max-width: 800px;">
    <!-- <img src="../static/images/work.svg" alt="working-icon" class="mx-auto d-block mt-5" height="200px"> -->
    <div class="card mt-5 drop-shadow">
        <div id="text" class="mt-4 mb-5 w-75 mx-auto">
            <div class="display-5 text-center my-3">carbonGyroscope</div>
            <p class="lead text-center">
                From July 2021 to April 2022 I've been working on a project called the carbonGyroscope. The concept is to take in transaction data from a personal bank account, use that information to 
                estimate the carbon footprint of the transactions, and then allow the user to offset their emissions with a couple of clicks. The app is based around Starling Bank and uses the amount paid, 
                the category and the merchant to make the estimates. When CO<sub>2</sub>e offset payments are made they’re registered in a database to be offset in bulk at a later date. A running total 
                of emissions and offsets are displayed which inform the customer how close they are to carbon neutrality as well as providing an insight into the effects of their day to day spending.
            </p>
            <div class="display-6 fs-3 text-center my-3">The Back End</div>
            <p class="fw-light">
                The project is a Flask app, which we are attracted to because it’s lightweight. The core functionality is based around the dashboard. The first function allows users to synchronise with their 
                Starling bank account, in practice pulling their transaction data since their last synchronisation, filtering the data for usable transactions (some categories do not provide enough information 
                for us to make an estimate i.e. finances, gifts), estimating the footprint and then updating the database and display on the dashboard to reflect the impact of the recent purchases.
            </p>
            <p class="fw-light"> 
                The second function is to take the difference between what has been emitted and what has been offset so that we can display a price and allow the user to make the transaction. As we are already connected to 
                the user’s bank account via OAuth2.0 the payment can be made directly without any need to enter or store card details. This takes the form of a put request which includes a digest and a 
                signature. Having first implemented this part of the app with RSA I later transitioned to ECDSA due to its speed and security. The dashboard also features a feedback section which 
                entails a drop down list displaying each of the user’s recent transactions along with a tag based input system. I was planning on using this information to make more accurate estimates over time.
            </p>
            <div class="display-6 fs-3 text-center my-3">The Front End</div>
            <p class="fw-light">
                The website itself uses Bootstrap 5 customised with CSS. There is some JavaScript but I kept it to a minimum to reduce the possibility of an injection attack. The site was designed to be mobile first 
                but is scalable to any screen size as is one of the advantages of Bootstrap; with this in mind I used .svg images wherever possible. I made use of Jinja2 so that the site would accurately 
                represent the user’s current data.
            </p>
            <div class="display-6 fs-3 text-center my-3">Databases</div>
            <p class="fw-light">
                The core database is Postgres. I decided to use a relational database because there are interdependent datasets, i.e. users, user_payments, event_log, etc., and I wanted to force certain fields to 
                use a default, i.e. a payment made to us must show false until it’s offset at the end of the bulk offset period.<br><br>

                One of the key facets that brings value to the app is the accuracy of the estimates. Due to the limited amount of data that we receive from Starling I decided to implement a user feedback system, 
                as previously mentioned. This data is entirely different and has no need to be tied to the user. In fact I see it as an advantage for the datasets to be completely distinct in order to break any link 
                between the individual and the information given which would hopefully encourage the more privacy conscious users to participate. Being data led also means that categories are much more likely to 
                change. For these reasons I decided to also use a noSQL database in MongoDB.
            </p>
            <div class="display-6 fs-3 text-center my-3">Webhooks</div>
            <p class="fw-light">
                I had implemented webhooks with an ‘Automatic Mode’ so that payments are offset as they are made. However as the app makes payments using an access token this is not possible due to tokens being retired 
                when a user logs out. If I was still working on the project in this form I would use webhooks to update the emissions figure without offsetting it immediately.
            </p>
            <div class="display-6 fs-3 text-center my-3">Deployment</div>
            <p class="fw-light">
                I had a trial run of deploying the app using Docker Compose and hosting the app on Azure. While successful, the app is not available as it is still in development due to a change in direction.
            </p>
            <div class="display-6 fs-3 text-center my-3">Why isn’t the app in production?</div>
            <p class="fw-light">
                With the app all but finished, the financier and I had a meeting to discuss our next steps. It had reached a point where we would need to expand to take the app to the next level. At the same time 
                we became aware of another app, also in development, that’s taking an exceedingly similar approach. Further still, we had growing doubts over the effectiveness of offsetting carbon and the false 
                reassurance that this can give to consumers. With all of this taken into account we have decided not to continue with the project in its current form. We may still release a stripped back version that 
                makes use of the Open Banking API and focuses solely on giving insights into one’s carbon footprint at a transactional level.
            </p>
        </div>
    </div>
</section>
{% endblock %}